<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.middle.infra.persistence.mapper.InventoryMonitorRuleLineMapper">
    <sql id="Base_Column_List">
                    id,
                            monitor_rule_id,
                            monitor_dimension,
                            monitor_object,
                            monitor_ceil,
                            monitor_floor,
                            create_time,
                            creator_id,
                            update_time,
                            updator_id,
                            deleted,
                            tenant_id
                </sql>
    <select id="queryPage" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.InventoryMonitorRuleLineDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        inventory_monitor_rule_line
        <where>
                                                                                                                            <if test="params.monitorRuleId != null and params.monitorRuleId !=''">
                AND monitor_rule_id = #{params.monitorRuleId}
            </if>
                                                                                            <if test="params.monitorDimension != null and params.monitorDimension !=''">
                AND monitor_dimension = #{params.monitorDimension}
            </if>
                                                                                            <if test="params.monitorObject != null and params.monitorObject !=''">
                AND monitor_object = #{params.monitorObject}
            </if>
                                                                                            <if test="params.monitorCeil != null and params.monitorCeil !=''">
                AND monitor_ceil = #{params.monitorCeil}
            </if>
                                                                                            <if test="params.monitorFloor != null and params.monitorFloor !=''">
                AND monitor_floor = #{params.monitorFloor}
            </if>
                                                                                                                    <if test="params.createTimeStart != null ">
                AND create_time &gt;= #{params.createTimeStart}
            </if>
            <if test="params.createTimeEnd != null ">
                AND create_time &lt;= #{params.createTimeEnd}
            </if>
                                                                    <if test="params.creatorId != null and params.creatorId !=''">
                AND creator_id = #{params.creatorId}
            </if>
                                                                                                                                                                <if test="params.updatorId != null and params.updatorId !=''">
                AND updator_id = #{params.updatorId}
            </if>
                                                                                AND deleted = 0
                                                                                                                <if test="params.tenantId != null and params.tenantId !=''">
                AND tenant_id = #{params.tenantId}
            </if>
                                                        </where>
        order by id desc
    </select>

    <select id="queryEntity" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.InventoryMonitorRuleLineDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        inventory_monitor_rule_line
        <where>
            <if test="params.id != null">
                AND id = #{params.id}
            </if>
                                                                                                                                                                                                                                                                                                                                        AND deleted = 0
                                                                </where>
    </select>

    <select id="queryList" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.InventoryMonitorRuleLineDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        inventory_monitor_rule_line
        <where>
            <if test="params.id != null">
                AND id = #{params.id}
            </if>
                                                                                                                                                                                                                                                                                                                                        AND deleted = 0
                                                                </where>
    </select>

    <select id="findById"
            resultType="com.inventory.middle.infra.persistence.entity.InventoryMonitorRuleLineDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        inventory_monitor_rule_line
        where id = #{id}
                                                    AND deleted = 0
            </select>
</mapper>