<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.middle.infra.persistence.mapper.LogicalPlantMapper">
    <sql id="Base_Column_List">
                    id,
                            tenant_id,
                            logical_plant_no,
                            logical_plant_name,
                            type,
                            company_code,
                            warehouse_no,
                            province,
                            city,
                            region,
                            address,
                            creator_id,
                            updator_id,
                            create_time,
                            update_time,
                            deleted
                </sql>
    <select id="queryPage" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.LogicalPlantDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        logical_plant
        <where>
                                                                                                                            <if test="params.tenantId != null and params.tenantId !=''">
                AND tenant_id = #{params.tenantId}
            </if>
                                                                                            <if test="params.logicalPlantNo != null and params.logicalPlantNo !=''">
                AND logical_plant_no = #{params.logicalPlantNo}
            </if>
                                                                                            <if test="params.logicalPlantName != null and params.logicalPlantName !=''">
                AND logical_plant_name = #{params.logicalPlantName}
            </if>
                                                                                            <if test="params.type != null and params.type !=''">
                AND type = #{params.type}
            </if>
                                                                                            <if test="params.companyCode != null and params.companyCode !=''">
                AND company_code = #{params.companyCode}
            </if>
                                                                                            <if test="params.warehouseNo != null and params.warehouseNo !=''">
                AND warehouse_no = #{params.warehouseNo}
            </if>
                                                                                            <if test="params.province != null and params.province !=''">
                AND province = #{params.province}
            </if>
                                                                                            <if test="params.city != null and params.city !=''">
                AND city = #{params.city}
            </if>
                                                                                            <if test="params.region != null and params.region !=''">
                AND region = #{params.region}
            </if>
                                                                                            <if test="params.address != null and params.address !=''">
                AND address = #{params.address}
            </if>
                                                                                            <if test="params.creatorId != null and params.creatorId !=''">
                AND creator_id = #{params.creatorId}
            </if>
                                                                                            <if test="params.updatorId != null and params.updatorId !=''">
                AND updator_id = #{params.updatorId}
            </if>
                                                                                                                    <if test="params.createTimeStart != null ">
                AND create_time &gt;= #{params.createTimeStart}
            </if>
            <if test="params.createTimeEnd != null ">
                AND create_time &lt;= #{params.createTimeEnd}
            </if>
                                                                                                                            AND deleted = 0
                                                                            </where>
        order by id desc
    </select>

    <select id="queryEntity" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.LogicalPlantDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        logical_plant
        <where>
            <if test="params.id != null">
                AND id = #{params.id}
            </if>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    AND deleted = 0
                                    </where>
    </select>

    <select id="queryList" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.LogicalPlantDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        logical_plant
        <where>
            <if test="params.id != null">
                AND id = #{params.id}
            </if>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    AND deleted = 0
                                    </where>
    </select>

    <select id="findById"
            resultType="com.inventory.middle.infra.persistence.entity.LogicalPlantDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        logical_plant
        where id = #{id}
                                                                        AND deleted = 0
        </select>
</mapper>