<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.middle.infra.persistence.mapper.MdocSubMapMapper">
    <sql id="Base_Column_List">
                    id,
                            material_doc_id,
                            material_doc_item_id,
                            map_code,
                            map_sub_code,
                            map_status,
                            deleted,
                            tenant_id,
                            creator_id,
                            create_time,
                            update_time,
                            updator_id
                </sql>
    <select id="queryPage" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.MdocSubMapDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        mdoc_sub_map
        <where>
                                                                                                                            <if test="params.materialDocId != null and params.materialDocId !=''">
                AND material_doc_id = #{params.materialDocId}
            </if>
                                                                                            <if test="params.materialDocItemId != null and params.materialDocItemId !=''">
                AND material_doc_item_id = #{params.materialDocItemId}
            </if>
                                                                                            <if test="params.mapCode != null and params.mapCode !=''">
                AND map_code = #{params.mapCode}
            </if>
                                                                                            <if test="params.mapSubCode != null and params.mapSubCode !=''">
                AND map_sub_code = #{params.mapSubCode}
            </if>
                                                                                            <if test="params.mapStatus != null and params.mapStatus !=''">
                AND map_status = #{params.mapStatus}
            </if>
                                                                                AND deleted = 0
                                                                                                                <if test="params.tenantId != null and params.tenantId !=''">
                AND tenant_id = #{params.tenantId}
            </if>
                                                                                            <if test="params.creatorId != null and params.creatorId !=''">
                AND creator_id = #{params.creatorId}
            </if>
                                                                                                                    <if test="params.createTimeStart != null ">
                AND create_time &gt;= #{params.createTimeStart}
            </if>
            <if test="params.createTimeEnd != null ">
                AND create_time &lt;= #{params.createTimeEnd}
            </if>
                                                                                                                                        <if test="params.updatorId != null and params.updatorId !=''">
                AND updator_id = #{params.updatorId}
            </if>
                                                        </where>
        order by id desc
    </select>

    <select id="queryEntity" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.MdocSubMapDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        mdoc_sub_map
        <where>
                        <if test="params.id != null">
                AND id = #{params.id}
            </if>
        </where>
    </select>

    <select id="queryList" parameterType="Map"
            resultType="com.inventory.middle.infra.persistence.entity.MdocSubMapDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        mdoc_sub_map
        <where>
                        <if test="params.id != null">
                AND id = #{params.id}
            </if>
        </where>
    </select>

    <select id="findById"
            resultType="com.inventory.middle.infra.persistence.entity.MdocSubMapDo">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        mdoc_sub_map
        where id = #{id}
    </select>
</mapper>